<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drone {{ drone_id }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h3 class="mt-5">Live Streaming for Drone {{ drone_id }}</h3>
        <img id="img-feed" src="#" width="100%" />
        <button type="button" class="btn btn-primary mt-3">
            <a href="/" style="text-decoration: none; color: white;">Back to Control Center</a>
        </button>
    </div>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    ></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
        const drone_id = {{ drone_id }};
        const videoSocket = io.connect();
        console.log(drone_id)
        videoSocket.on('frame_update', function(data) {
            if (data.drone_id === drone_id) {
                const blob = new Blob([data.frame], { type: 'image/jpeg' });
                const url = URL.createObjectURL(blob);
                document.getElementById('img-feed').src = url;
            }
        });
    </script>
</body>
</html>
